@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: var(--font-geist), sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;

  --color-white: hsla(038deg, 100%, 090%, 1);
  --color-black: hsla(038deg, 010%, 002%, 1);
  --color-dark-gray: hsla(038deg, 010%, 040%, 1);
  --color-dark-gray-20: hsla(038deg, 010%, 040%, 0.2);
  --color-light-gray: hsla(038deg, 020%, 060%, 1);
  --color-light-gray-20: hsla(038deg, 020%, 060%, 0.2);
  --color-compsigh: hsla(038deg, 100%, 050%, 1);
  --color-compsigh-20: hsla(038deg, 100%, 050%, 0.2);
  --color-compsigh-60: hsla(038deg, 100%, 050%, 0.6);
  --color-diff-add: hsla(120deg, 100%, 025%, 0.2);
  --color-diff-remove: hsla(360deg, 100%, 050%, 0.2);

  color: var(--color-white);
  background-color: var(--color-black);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 180%;
  font-size: 1rem;
  font-family: var(--font-sans);
}

@layer base {
  /* Headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply my-6;
    line-height: 1.2;
  }
  /* Headings */
  h1 {
    @apply text-3xl font-bold tracking-wide;
  }

  h2 {
    @apply text-2xl tracking-wide font-bold;
  }

  h3 {
    @apply text-xl tracking-wide font-bold;
  }

  /* Paragraphs */
  p {
    @apply text-base text-gray-400 tracking-wider leading-relaxed;
  }

  /* Links */
  a {
    @apply text-orange-400 no-underline;
  }

  /* Paragraphs, Unordered and Ordered Lists */
  p,
  ul,
  ol {
    @apply my-4;
  }

  /* List Items */
  li {
    @apply my-1;
  }

  /* Custom List Item Marker */
  li::marker,
  li::before {
    color: var(--color-dark-gray);
  }

  /* Unordered List Items */
  ul > li {
    @apply list-none relative pl-6;
  }

  ul > li::before {
    @apply absolute ml-[-22px] mt-[-1px] content-["-"];
  }

  /* Nested Unordered List Items */
  ul ul > li {
    @apply ml-4;
  }

  /* Code */

  code {
    font-family: var(--font-mono);
    font-size: small;
    counter-reset: line;
    background: var(--color-dark-gray-20);
  }

  :not(pre) > code {
    box-shadow: 0 0 0 1px var(--color-dark-gray);
    padding: 0.1em 0.4em;
    border-radius: 0.4em;
  }

  pre {
    overflow-x: auto;
    padding: 1rem 0;
    font-size: 0.8em;
  }

  pre [data-line] {
    padding: 0 1rem;
  }

  pre > code[data-line-numbers] > [data-line]::before {
    content: counter(line);
    counter-increment: line;
    display: inline-block;
    width: 2em;
    margin-right: 2em;
    text-align: right;
    color: var(--color-dark-gray);
    user-select: none;
    font-variant-numeric: tabular-nums;
  }

  pre > code[data-line-numbers] > [data-line]:hover::before {
    color: var(--color-light-gray);
  }

  pre
    > code[data-line-numbers][data-line-numbers-max-digits="2"]
    > [data-line]::before {
    width: 2em;
  }

  pre
    > code[data-line-numbers][data-line-numbers-max-digits="3"]
    > [data-line]::before {
    width: 3em;
  }

  span[data-highlighted-line] {
    background-color: var(--color-compsigh-20);
  }

  span[data-highlighted-line-id="add"] {
    background-color: var(--color-diff-add);
  }

  span[data-highlighted-line-id="remove"] {
    background-color: var(--color-diff-remove);
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }

  .black-gradient {
    background: linear-gradient(90deg, #161a31 0%, #06091f 100%);
  }

  /* Book cover css */
  .book-wrapper {
    width: 900px;
    position: relative;
    margin: 0 auto;
    column-count: 3;
    column-gap: 12px;
    padding: 4px;
  }
  .book-items {
    position: relative;
    cursor: default;
    padding: 16px;
    margin: 0;
    display: grid;
    break-inside: avoid;
  }

  .main-book-wrap {
    position: relative;
  }

  .book-cover {
    position: relative;
  }

  .book-cover .book-inside {
    position: absolute;
    width: 90%;
    height: 96%;
    top: 1%;
    left: 16px;
    border: 1px solid grey;
    border-radius: 2px 6px 6px 2px;
    background: white;
    box-shadow: 10px 40px 40px -10px #00000030, inset -2px 0 0 grey,
      inset -3px 0 0 #dbdbdb, inset -4px 0 0 white, inset -5px 0 0 #dbdbdb,
      inset -6px 0 0 white, inset -7px 0 0 #dbdbdb, inset -8px 0 0 white,
      inset -9px 0 0 #dbdbdb;
  }

  .book-cover .book-image {
    line-height: 0;
    position: relative;
    border-radius: 2px 6px 6px 2px;
    box-shadow: 6px 6px 18px -2px rgba(0, 0, 0, 0.2),
      24px 28px 40px -6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    transform: perspective(2000px) rotateY(-15deg) translateX(-10px)
      scaleX(0.94);
    cursor: pointer;
  }

  .book-image img {
    grid-row: 1 / -1;
    grid-column: 1;
    width: 100%;
    border-radius: 2px 6px 6px 2px;
  }

  .book-image:hover {
    transform: perspective(2000px) rotateY(0deg) translateX(0px) scaleX(1);
    transform-style: preserve-3d;
    box-shadow: 6px 6px 12px -1px rgba(0, 0, 0, 0.1),
      20px 14px 16px -6px rgba(0, 0, 0, 0.1);
  }

  .effect {
    position: absolute;
    width: 20px;
    height: 100%;
    margin-left: 16px;
    top: 0;
    border-left: 2px solid #00000010;
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    transition: all 0.5s ease;
    z-index: 5;
  }

  .light {
    width: 90%;
    height: 100%;
    position: absolute;
    border-radius: 3px;
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.2) 100%
    );
    top: 0;
    right: 0;
    opacity: 0.1;
    transition: all 0.5s ease;
    z-index: 4;
  }

  .book-image:hover .effect {
    margin-left: 14px;
  }

  .realvjy {
    width: 900px;
    padding: 20px;
    margin: 0 auto;
    font-family: sans-serif;
    text-align: center;
  }

  .comment {
    font-size: 0.875rem;
    color: var(--color-light-gray);
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .inline-comment {
    margin-left: 20px;
  }

  .inline-comment::before {
    content: "// ";
    font-size: 0.9em;
    vertical-align: top;
  }

  .block-comment::before {
    content: "\002F* ";
  }

  .block-comment::after {
    content: " *\002F";
  }

  @media (max-width: 700px) {
    span.inline-comment {
      display: block;
      margin-left: 0px;
    }
  }
}
